<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/jms
        http://www.springframework.org/schema/jms/spring-jms-4.3.xsd">

    <!--jms producer-->
    <!-- 实际的jms connection factory服务厂商实现，connection真正的生产者 -->
    <bean id="activemqCF" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <!--spring jms connection factory，用于管理服务厂商的实现，并代为处理中间过程如开关connection，提供优化策略 -->
    <bean id="springCF" class="org.springframework.jms.connection.CachingConnectionFactory">
        <constructor-arg ref="activemqCF"/>
    </bean>

    <bean id="springCF2" class="org.springframework.jms.connection.CachingConnectionFactory">
        <constructor-arg ref="activemqCF"/>
        <property name="clientId" value="springConnectionFactory2"/>
    </bean>

    <!-- Spring JMS topic Template -->
    <bean id="lishuTopicJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="springCF"/>
        <property name="pubSubDomain" value="true"/>
    </bean>

    <bean id="lishuQueueJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="springCF" />
        <property name="deliveryMode" value="2" />
        <property name="pubSubDomain" value="false" />
    </bean>
    <!--/jms producer-->

    <!--jms consumer subscriber-->
    <bean id="queueJmsListenerContainerFactory" class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
        <property name="connectionFactory" ref="springCF"/>
        <property name="pubSubDomain" value="false" />
        <property name="concurrency" value="5-10" />
    </bean>

    <bean id="topicJmsListenerContainerFactory" class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
        <property name="connectionFactory" ref="springCF"/>
        <property name="pubSubDomain" value="true" />
        <property name="concurrency" value="1" />
    </bean>

    <bean id="reliableTopicJmsListenerContainerFactory" class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
        <property name="connectionFactory" ref="springCF2"/>
        <property name="pubSubDomain" value="true" />
        <property name="subscriptionDurable" value="true" />
        <property name="concurrency" value="1" />
    </bean>

    <!--<jms:listener-container destination-type="topic" container-type="default" connection-factory="activemqCF" acknowledge="auto" concurrency="1-1"/>-->
    <!--/jms consumer subscriber-->

    <jms:annotation-driven/>

</beans>
